@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,wght@0,700;0,900;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  font-size: 18px;
  position: relative;
  color: #23303e;
}

body header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  width: 100%;
  z-index: 5;
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
}

body header a {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

body header a img {
  height: 2rem;
}

body header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body header nav .burger {
  display: none;
}

body header nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header nav .menu li {
  font-family: #23303e;
  padding-right: 1rem;
}

body header nav .menu li a {
  text-decoration: none;
  color: white;
}

body header nav .menu li button {
  background-color: white;
  border-color: transparent;
  border-radius: 50px;
  font-family: "Fraunces", serif;
  font-size: 1rem;
  color: black;
  height: 3rem;
  width: 8rem;
}

body article {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
}

body article section.intro {
  background-image: url("../images/desktop/image-header.jpg");
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  min-height: 90vh;
  background-size: cover;
  background-position: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

body article section.intro h1 {
  color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: "Fraunces", serif;
  font-size: 3rem;
  align-self: center;
}

body article section.intro img {
  height: 7rem;
  width: 2rem;
  margin: 3rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body article section.img-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 550px 550px 550px;
      grid-template-rows: 550px 550px 550px;
      grid-template-areas: "transform transform" "audience audience" "gd photography";
  justify-items: center;
}

body article section.img-grid .item .text-square {
  width: 50vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: left;
}

body article section.img-grid .item .text-square h3 {
  font-family: "Fraunces", serif;
  font-size: 2.5rem;
  color: black;
  margin: auto;
  width: 28rem;
}

body article section.img-grid .item .text-square p {
  font-family: "Barlow", sans-serif;
  color: #a7abae;
  margin: 2rem auto;
  width: 28rem;
  text-align: left;
}

body article section.img-grid .item .text-square a {
  width: 29rem;
}

body article section.img-grid .item .img-square {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 50vw;
  overflow: hidden;
}

body article section.img-grid .item .img-square .transform-img {
  background-size: cover;
  color: #19536b;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body article section.img-grid .item .img-square .stand-out-img {
  background-size: cover;
  color: #19536b;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body article section.img-grid .item .img-square .stand-out-img img {
  zoom: 110%;
}

body article section.img-grid .transform {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: transform;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow: hidden;
}

body article section.img-grid .audience {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: audience;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 100%;
  overflow: hidden;
}

body article section.img-grid .img3 {
  background-image: url("/images/desktop/image-graphic-design.jpg");
  background-size: cover;
  background-position: top;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: gd;
  text-align: center;
}

body article section.img-grid .img4 {
  background-image: url("/images/desktop/image-photography.jpg");
  background-size: cover;
  background-position: top;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: photography;
  text-align: center;
}

body article section.testimonials {
  width: 100%;
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body article section.testimonials h4.testimonial-title {
  text-align: center;
  font-family: "Fraunces", serif;
  color: #a7abae;
  margin: auto auto 2rem auto;
}

body article section.testimonials .client-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto auto auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body article section.testimonials .client-list .client {
  text-align: center;
  max-width: 22rem;
  margin: auto;
}

body article section.testimonials .client-list .client img.client-profile {
  border-radius: 50%;
  width: 5rem;
  margin: 2rem;
}

body article section.testimonials .client-list .client p {
  font-family: "Barlow", sans-serif;
  margin: 1rem;
}

body article section.testimonials .client-list .client h4 {
  font-family: "Fraunces", serif;
}

body article section.testimonials .client-list .client h6 {
  font-family: "Barlow", sans-serif;
  color: #a7abae;
}

body footer {
  width: 100%;
  background-color: #a7abae;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
}

body footer .footer-images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

body footer .footer-images img {
  max-width: 25vw;
}

body footer .logo-footer {
  margin-top: 4rem;
  color: #458c7e;
}

body footer .logo-footer img {
  height: 2rem;
}

body footer .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  font-family: "Barlow", sans-serif;
  color: #458c7e;
}

body footer .footer-nav li {
  text-align: center;
  text-decoration: none;
  margin: 2rem;
}

body footer .footer-nav li a {
  text-decoration: none;
  color: #458c7e;
}

body footer .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body footer .social-icons li {
  margin: 1rem;
}

@media only screen and (min-width: 300px) and (max-width: 425px) and (-webkit-min-device-pixel-ratio: 2) {
  body header nav .burger {
    display: block;
  }
  body header nav .menu {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body article {
    width: 100vw;
  }
  body article section.intro {
    width: 100%;
  }
  body article section.img-grid {
    width: 100%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1100px 1100px 550px 550px;
        grid-template-rows: 1100px 1100px 550px 550px;
        grid-template-areas: "transform" "audience" "gd" "photography";
  }
  body article section.img-grid .transform {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body article section.img-grid .audience {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body article section.testimonials .client-list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=style.css.map */